#home h1{
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 10em;
    font-weight: 900;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home p{
    text-align: left;
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 3em;
    font-weight: 600;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width: 900px){
    #home h1{
        text-align: left;
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 3em;
        font-weight: 600;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    
#home p{
    text-align: left;
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}

.fade-in-img{
    animation: fadeIn 5s;
}

.fade-in-image{
    opacity: 50%;
}
.fade-in-image:hover{
    opacity: 100%;
    transition:  opacity 1s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

